.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color:#fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.jumbotron p {
  margin-top: 1rem;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color: white;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  display: inline-block;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.full-img {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 600px;
}
.full-img img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 1;
  width: 610px;
  height: 610px;
  background-color: rgba(0,0,0,0);
}

button {
 background-color: green;
 border-radius: .5rem;
 color: white;
 font-size: 1.5rem;
 font-weight: bold;
 display: block;
 float: right;
 margin-top: .5rem;
}

.thumb-bar {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.thumb-bar img {
  display: inline-block;
  width: 14rem;
  padding: 1.5rem;
  float: left;
  cursor: pointer;

}
